
body { padding-top: 70px; }

#header, #footer{
		position:fixed;
		height: 50px;
		display:block;
		width: 100%;
		background: #282634;
		font-size; 2em;
		z-index:9;
		text-align:left;
		padding: 15px 0 0 0px;
	}
	
#header a {
	top:0px;
	font-size: 16px;
	font-family: 'Cantarell', sans-serif;
}

#footer{
	bottom:0px;
}

#About {
	background: url('Mountain3.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.Narrative {
  padding: 20px;
}

h4 {
	color: #2B3856;
	/*font-family: "Open Sans";*/
  font-family: "Roboto";
}

h5 {
	color: #2B3856;
	/*font-family: "Open Sans";*/
  font-family: "Roboto";
}

h5.About {
	/*color: #2B3856;*/
  color: #424242;
	font-size: 14px;
	/*font-family: "Open Sans";*/
  font-family: "Roboto";
  line-height: 140%;
  margin-top: 0px
}

h1.About {
	color: black;
	font-family: 'Patua One', sans-serif;
  /*font-family: 'Open Sans', sans-serif;*/
	font-size: 4em;
}

h2.About {
	color: #36648B;
	/*font-family: 'Covered By Your Grace', sans-serif;*/
}

h3.About {
  color: #282634;
  /*font-family: "Open Sans";*/
  font-family: "Roboto";
  margin-top: 0px;
}

div#Resume {
  /*background: #CDC9C9;*/
  background: #9FA8DA;
  background-size: cover;
}

div#Projects {
  /*background: #3C769B;*/
  background: #8C9EFF;
  background-size: cover;
}

div.extra {
  padding-bottom: 20px;
}

.listing {
  padding: 10px;
  /*margin-left: 10px;*/
  margin: 10px;
}

div.transparent {
    background: rgba(255, 255, 255, 0.8);
    font-weight: bold;
    color: black;
    /*padding-bottom: 40px;*/
}

.iconColor {
	color: #282634;
	
}

.iconColor:hover {
    color: rgba(59, 89, 152, .7);
  }


#Gallery {
	background: #999CBC;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main {
  margin: 0 auto -60px;
}

.main .img-responsive {
  margin-bottom: 30px;
}

img {

  -webkit-filter: grayscale(100%) drop-shadow(3px 3px 1px gray);
  -webkit-transition: all 0,2s ease;
     -moz-transition: all 0,2s ease;
       -o-transition: all 0,2s ease;
      -ms-transition: all 0,2s ease;
          transition: all 0,2s ease;

}
 
.img-responsive:hover  {
  -webkit-filter: contrast(130%);
}
