
body { padding-top: 70px; }

.fancy-class {
	font-size: large;
	color: blue; 
}

li {
	font-size: 2em;
	display: inline;
	list-style-type: none;
	padding-right: 20px;
	color: black;

}

#About {
	background: url('Background.JPG') no-repeat fixed center; 
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

h5.About {
	color: #2B3856;
	font-family: 'Cantarell', sans-serif;
	font-size: 14px;
}

h1.About {
	color: black;
	font-family: 'Patua One', sans-serif;
	font-size: 4em;
}

h2.About {
	color: #36648B;
	font-family: 'Covered By Your Grace', sans-serif;
}

.smallIconText {
	color: #36648B;
	font-family: 'Cantarell', sans-serif;
	font-size: 14px;
	font-weight: bold;

}
h1#Gallery {
	color: blue;
}

#Resume  {
	background: url('Background2.JPG') no-repeat fixed center; 
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.col-md-4 img {
	align: center;
    padding:15px;
    border:0px;
    margin:5px;
}

div.transparent {
    background: rgba(255, 255, 255, 0.5);
    font-weight: bold;
    color: black;
}

