
body { padding-top: 70px; }


#header, #footer{
		position:fixed;
		height: 50px;
		display:block;
		width: 100%;
		background: #282634;
		z-index:9;
		text-align:center;
		color: #F1EBEB;
		padding: 20px 0 0 0;
	}
	
	#header{
		top:0px;
	}
	#footer{
		bottom:0px;
	}

li {
	font-size: 2em;
	display: inline;
	list-style-type: none;
	padding-right: 20px;
	color: black;

}

#About {
	background: url('Mountain3.jpg') no-repeat fixed center; 
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;

}


h5.About, h5.Resume {
	color: #2B3856;
	font-family: 'Cantarell', sans-serif;
	font-size: 14px;
}

h1.About {
	color: black;
	font-family: 'Patua One', sans-serif;
	font-size: 4em;
}

h2.About {
	color: #36648B;
	font-family: 'Covered By Your Grace', sans-serif;
}

.smallIconText {
	color: #36648B;
	font-family: 'Cantarell', sans-serif;
	font-size: 14px;
	font-weight: bold;

}
h1#Gallery {
	color: blue;
}

#Resume  {
	background: url('Mountain4.jpg') no-repeat fixed center; 
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.col-md-4 img {
	align: center;
    padding:15px;
    border:0px;
    margin:5px;
}

div.transparent {
    background: rgba(255, 255, 255, 0.5);
    font-weight: bold;
    color: black;
}

.iconColor {
	color: #282634;
	vertical-align: bottom;
}
